
<h1>Articulos</h1>
<div class="row m-5">
  <div class="col">

      <table class="table">
          <thead>
              <tr>
                  <th>Titulo</th>
                  <th>Autor</th>
                  <th>twiter</th>
                  <th>Blog</th>
              </tr>
          </thead>

          <tbody>
              <tr *ngFor="let articulo of articulos">
                  <td>
                     {{ articulo.titulo }}
                  </td>
                  <td>{{ articulo.autor.nombre }}</td>
                  <td>
                    {{ articulo.twiter}}
                  </td>
                  <td>
                    {{articulo.twiter }}
                  </td>
                  <td>
                    {{articulo.blob}}
                  </td>
                 
              </tr>
          </tbody>

      </table>

  </div>
</div>